<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154553539-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-154553539-2');
  </script>

  <meta charset="utf-8">
  <title>The Fur Retreat</title>
  <link rel="canonical" href="https://furretreat.rocks"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!-- Metadata -->
  <meta content="fur retreat, furry discord, discord server, furry community, furry, furries" name="keywords">
  <meta content="The Fur Retreat is a friendly furry Discord community." name="description">
  <meta name="theme-color" content="#7864c9">
  <meta property="og:title" content="The Fur Retreat">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://furretreat.rocks">
  <meta property="og:description" content="The Fur Retreat is a friendly furry Discord community.">
  <meta property="og:image" content="/img/icon.png">

  <!-- Icons -->
  <link href="/img/transparent-icon.png" height="32" width="32" rel="icon">
  <link href="/img/icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/lib/font-awesome/css/all.css" rel="stylesheet">
  <link href="/lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/css/style.css" rel="stylesheet">

</head>

<body>

<!--==========================
Header
============================-->
<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <a href="#hero"><img src="/img/transparent-icon.png" width="40" height="40" alt="" title="" /></img></a>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="#hero">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#stats">Stats</a></li>
        <li><a href="#team">Staff Team</a></li>
        <li><a href="https://discord.furretreat.rocks">Join Us</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->

<!--==========================
  Hero Section
============================-->
<section id="hero">
  <div class="hero-container">
    <h1>Welcome to The Fur Retreat!</h1>
    <h2>We are a friendly furry Discord community.</h2>
    <a href="#about" class="btn-get-started">Awoo!</a>
  </div>
</section><!-- #hero -->

<main id="main">

  <!--==========================
    About Us Section
  ============================-->
  <section id="about">
    <div class="container">
      <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2">
          <h2 class="title">About Us</h2>
          <p>
            The Fur Retreat was originally made with the goal of bringing furries together to find new friends and chill. It has now expanded into a <a href="https://discord.furretreat.rocks">Discord server</a> with <%= guilds.furRetreat.memberCount %> members and a partnered <a href="https://telegram.furretreat.rocks">Telegram group</a> with over 150 members.
          </p>

          <div class="icon-box wow fadeInUp">
            <div class="icon"><i class="fas fa-user-friends"></i></div>
            <h4 class="title"><a href="">Friendly staff</a></h4>
            <p class="description">Our friendly staff team is always available to help whenever you have a question.</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon"><i class="fas fa-gift"></i></div>
            <h4 class="title"><a href="">Giveaways</a></h4>
            <p class="description">At certain milestones, giveaways are held. So far, we've given away Discord Nitro and paysafecard codes.</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="icon"><i class="fas fa-hashtag"></i></div>
            <h4 class="title"><a href="">Many channels</a></h4>
            <p class="description">There are lots of awoomazing channels for you to chat in! From memes to art; share anything you can think of.</p>
          </div>

        </div>

        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
      </div>

    </div>
  </section><!-- #about -->

  <!--==========================
    Stats Section
  ============================-->
  <section id="stats">
    <div class="container wow fadeIn">
      <div class="section-header">
        <h3 class="section-title">Stats</h3>
        <p class="section-description">A few statistics about our server...</p>
      </div>
      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up"><%= guilds.furRetreat.memberCount %></span>
          <p>Total Members</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up"><%= guilds.furRetreat.members.filter(member => member.user.presence.status !== "offline").size %></span>
          <p>Members Online</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up"><%= guilds.furRetreat.channels.size %></span>
          <p>Channels</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up"><%= guilds.furRetreat.roles.size %></span>
          <p>Roles</p>
        </div>

      </div>

    </div>
  </section><!-- #stats -->

  <!--==========================
  Call To Action Section
  ============================-->
  <section id="call-to-action">
    <div class="container wow fadeIn">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3 class="cta-title">Join us!</h3>
          <p class="cta-text"> We might just be the community that you've been looking for...</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="https://discord.furretreat.rocks"><i class="fab fa-discord"></i></a>
          <a class="cta-btn align-middle" href="https://telegram.furretreat.rocks"><i class="fab fa-telegram"></i></a>
        </div>
      </div>

    </div>
  </section><!-- #call-to-action -->

</main>

<!--==========================
    Staff Team Section
  ============================-->
<section id="team">
  <div class="container wow fadeInUp">
    <div class="section-header">
      <h3 class="section-title">Staff Team</h3>
      <p class="section-description">The people that help make the server what it is!</p>
    </div>

    <!-- Row 1 -->

    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="<%= avatars.benAvatar %>" height="260px" width="260px" alt="Benji"></div>
          <h4>Benji</h4>
          <span>Owner</span>
          <div class="social">
            <a href="https://twitter.com/BenjiTheFurry"><i class="fab fa-twitter"></i></a>
            <a href="https://t.me/Ben0710"><i class="fab fa-telegram"></i></a>
            <a href="https://github.com/Ben071"><i class="fab fa-github"></i></a>
            <a href="https://benji.monster"><i class="fa fa-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="<%= avatars.austinAvatar %>" height="260px" width="260px" alt="Austin"></div>
          <h4>Austin</h4>
          <span>Owner</span>
          <div class="social">
            <a href="https://twitter.com/AustinTi_"><i class="fab fa-twitter"></i></a>
            <a href="https://t.me/AustinTi"><i class="fab fa-telegram"></i></a>
            <a href="https://github.com/AustinTi"><i class="fab fa-github"></i></a>
            <a href="https://austinti.me/"><i class="fa fa-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="<%= avatars.toastAvatar %>" height="260px" width="260px" alt="Toast"></div>
          <h4>Toast</h4>
          <span>Owner</span>
          <div class="social">
            <a href="https://twitter.com/toastdiscord"><i class="fab fa-twitter"></i></a>
            <a href="https://t.me/ToastFromDiscord"><i class="fab fa-telegram"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="<%= avatars.jackAvatar %>" height="260px" width="260px" alt="Jack"></div>
          <h4>Jack</h4>
          <span>Manager</span>
        </div>
      </div>
    </div>

    <!-- Row 2 -->

    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="<%= avatars.kelwingAvatar %>" height="260px" width="260px" alt="Kelwing"></div>
          <h4>Kelwing</h4>
          <span>Manager</span>
          <div class="social">
            <a href="https://twitter.com/KelwingDev"><i class="fab fa-twitter"></i></a>
            <a href="https://t.me/Kelwing"><i class="fab fa-telegram"></i></a>
            <a href="https://github.com/Kelwing"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="<%= avatars.lewisAvatar %>" height="260px" width="260px" alt="Lewis"></div>
          <h4>Lewis</h4>
          <span>Manager</span>
          <div class="social">
            <a href="https://twitter.com/sniff122N"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/sniff122"><i class="fab fa-github"></i></a>
            <a href="https://sniff122.ga"><i class="fa fa-link"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="<%= avatars.jaspAvatar %>" height="260px" width="260px" alt="Jasp"></div>
          <h4>Jasp</h4>
          <span>Moderator</span>
          <div class="social">
            <a href="https://twitter.com/JasperSoot"><i class="fab fa-twitter"></i></a>
            <a href="https://t.me/JasperSoot"><i class="fab fa-telegram"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="<%= avatars.chaseAvatar %>" height="260px" width="260px" alt="Chase"></div>
          <h4>Chase</h4>
          <span>Moderator</span>
          <div class="social">
            <a href="https://twitter.com/FoxakaKitsune1"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Row 3 -->

    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="<%= avatars.tigerAvatar %>" height="260px" width="260px" alt="Tiger"></div>
          <h4>Tiger</h4>
          <span>Moderator</span>
          <div class="social">
            <a href="https://twitter.com/Tiger_9194"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="<%= avatars.strifeAvatar %>" height="260px" width="260px" alt="Strife"></div>
          <h4>Strife</h4>
          <span>Moderator</span>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="<%= avatars.angelAvatar %>" height="260px" width="260px" alt="Angel"></div>
          <h4>Angel</h4>
          <span>Moderator</span>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="<%= avatars.reinheitAvatar %>" height="260px" width="260px" alt="Reinheit"></div>
          <h4>Reinheit</h4>
          <span>Moderator</span>
        </div>
      </div>
    </div>

    <!-- Row 4 -->

    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="<%= avatars.tropicalAvatar %>" height="260px" width="260px" alt="Tropical"></div>
          <h4>Tropical</h4>
          <span>Moderator</span>
          <div class="social">
            <a href="https://twitter.com/tropical_234"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="<%= avatars.karnageAvatar %>" height="260px" width="260px" alt="Karnage"></div>
          <h4>Karnage</h4>
          <span>Helper</span>
          <div class="social">
            <a href="https://twitter.com/karnage_boii"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="<%= avatars.sentryAvatar %>" height="260px" width="260px" alt="Sentry"></div>
          <h4>Sentry</h4>
          <span>Helper</span>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="<%= avatars.zarelAvatar %>" height="260px" width="260px" alt="Zarel"></div>
          <h4>Zarel</h4>
          <span>Helper</span>
        </div>
      </div>
    </div>

    <!-- Row 5-->

    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic"><img src="<%= avatars.forestAvatar %>" height="260px" width="260px" alt="ForestWolf"></div>
          <h4>ForestWolf</h4>
          <span>Events Team</span>
        </div>
      </div>
    </div>
  </div>
</section><!-- #team -->

<!--==========================
  Footer
============================-->
<footer id="footer">
  <div class="footer-top">
    <div class="container">

    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <%= new Date().getFullYear() %> <strong>The Fur Retreat</strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://github.com/Ben071"><i class="fab fa-github"></i> Ben071</a>
    </div>
  </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fas fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/jquery/jquery-migrate.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/counterup/counterup.min.js"></script>
<script src="/lib/superfish/hoverIntent.js"></script>
<script src="/lib/superfish/superfish.min.js"></script>

<!-- Main Javascript File -->
<script src="/js/main.js"></script>

</body>
</html>
